
services:

  te-ubuntu:
    image: te-ubuntu
    container_name: te-ubuntu
    hostname: ubuntu.te
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 16M
    build:
      context: .
      dockerfile: Dockerfile.ubuntu
    restart: 'always'
    ports:
      - 8080:8080

  te-cpu:
    image: te-cpu
    container_name: te-cpu
    hostname: cpu.te
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 64M
    build:
      context: .
      dockerfile: Dockerfile.cpu
    restart: 'always'
    ports:
      - 8081:9010

  te-memory:
    image: te-memory
    container_name: te-memory
    hostname: memory.te
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 16M
    build:
      context: .
      dockerfile: Dockerfile.memory
    restart: 'always'
    ports:
      - 8082:9010

  te-restart:
    image: te-restart
    container_name: te-restart
    hostname: restart.te
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 16M
    build:
      context: .
      dockerfile: Dockerfile.restart
    restart: 'always'
    ports:
      - 8083:9010
